.credit-calculator {
  @include centered-layout;

  margin-bottom: 97px;
  padding-top: 97px;
}

.credit-calculator__title {
  margin: 0;
  margin-bottom: 49px;

  font-size: 41px;
  line-height: 140%;
}

@media (max-width: $tablet-max-width) {
  .credit-calculator {
    // TODO: move to mixin centered layout
    width: 100%;
    margin-bottom: 69px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 69px;
  }

  .credit-calculator__title {
    margin-bottom: 28px;
    font-size: 32px;
  }
}

@media (max-width: $mobile-max-width) {
  .credit-calculator {
    margin-bottom: 54px;
    padding-top: 54px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .credit-calculator__title {
    margin-bottom: 22px;
    font-size: 22px;
  }
}

