.promo-slider {
  position: relative;
}

.promo-slider__list {
  @include list-reset;
}

.promo-slider__item {
  // padding-top: 102px;
  // padding-bottom: 60px;
  // padding-left: 254px;

  min-height: 400px;
  background-repeat: no-repeat;
  background-position: center;

  &--credit {
    background-color: $blue;
    background-image: url("../assets/img/main-banner-bg.png");
  }

  &--confidence {
    // TODO: REMOVE DISPLAY: NONE WHEN I WILL MOVE TO REACT LOGIC DESCRIPTION
    display: none;
    background-color: #DDE2EC;
    background-image: url("../assets/img/a-man-in-a-suit.png");
  }

  &--department {
    // TODO: REMOVE DISPLAY: NONE WHEN I WILL MOVE TO REACT LOGIC DESCRIPTION
    display: none;
    background-color: #E6F1FE;
    background-image: url("../assets/img/a-woman-with-a-card.png");
  }
}

.promo-slider__wrapper {
  max-width: 1170px;
  margin: 0 auto;

  padding-top: 102px;
  padding-bottom: 60px;
  padding-left: 254px;
}

.promo-slider__title {
  margin: 0;
  margin-bottom: 8px;

  font-size: 54px;
  line-height: 63px;
  font-weight: 700;
}

.promo-slider__item--credit .promo-slider__title {
  color: $light-gray;
}

.promo-slider__description {
  margin: 0;
  margin-bottom: 34px;

  font-size: 22px;
  line-height: 26px;
  color: $lighter-black;
}

.promo-slider__item--credit .promo-slider__description {
  color: $light-gray;
}

.promo-slider__promo-button {
  font-size: 18px;
  line-height: 21px;

  &--department {
    padding-left: 48px;
    padding-right: 49px;
  }
}

.promo-slider__buttons-list {
  bottom: 36px;
}

@media (max-width: $tablet-max-width) {
  .promo-slider__item {
    min-height: 300px;
    // padding-top: 65px;
    // padding-left: 86px;

    &--credit {
      background-image: url("../assets/img/main-banner-bg-tablet.png");
    }

    &--confidence {
      background-image: url("../assets/img/a-man-in-a-suit-tablet.png");
    }

    &--department {
      background-image: url("../assets/img/a-woman-with-a-card-tablet.png");
    }
  }

  .promo-slider__wrapper {
    padding-top: 65px;
    padding-left: 86px;
  }

  .promo-slider__title {
    margin-bottom: 5px;

    font-size: 46px;
    line-height: 54px;
  }

  .promo-slider__description {
    margin-bottom: 31px;

    font-size: 18px;
    line-height: 21px;
  }

  .promo-slider__promo-button {
    padding-top: 14px;
    padding-right: 31px;
    padding-bottom: 15px;
    padding-left: 31px;

    font-size: 16px;
    line-height: 19px;

    &--department {
      padding-left: 38px;
      padding-right: 38px;
    }
  }

  .promo-slider__buttons-list {
    bottom: 11px;
  }
}

@media (max-width: $mobile-max-width) {
  .promo-slider__item {
    min-height: 226px;
    // padding-top: 39px;
    // padding-bottom: 20px;
    // padding-left: 15px;

    &--credit {
      background-image: url("../assets/img/main-banner-bg-mobile.png");
      background-position: right;
    }

    &--confidence {
      background-image: url("../assets/img/a-man-in-a-suit-mobile.png");
      background-position: right;
    }

    &--department {
      background-image: url("../assets/img/a-woman-with-a-card-mobile.png");
      background-position: right;
    }
  }

  .promo-slider__wrapper {
    padding-top: 39px;
    padding-bottom: 20px;
    padding-left: 15px;
  }

  .promo-slider__title {
    margin-bottom: 6px;

    font-size: 38px;
    line-height: 45px;
  }

  .promo-slider__description {
    margin-bottom: 26px;

    font-size: 16px;
    line-height: 19px;
  }

  .promo-slider__item--confidence .promo-slider__description {
    max-width: 140px;
  }

  .promo-slider__promo-button {
    padding-top: 13px;
    padding-bottom: 14px;

    font-size: 14px;
    line-height: 16px;

    &--department {
      padding-top: 14px;
      padding-right: 37px;
      padding-bottom: 13px;
      padding-left: 37px;
    }
  }

  .promo-slider__buttons-list {
    bottom: 7px;
  }
}
