.services {
  @include centered-layout;

  padding-top: 60px;
}

.services__buttons-list {
  display: none;
}

@media (min-width: $desktop-threshold) {
  .services {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: $tablet-max-width) {
  .services {
    position: relative;
    // TODO: move to mixin centered layout
    width: 100%;
    padding-top: 0;
  }

  .services__buttons-list {
    bottom: 11px;

    display: flex;
  }

  .services__buttons-list .slider-buttons__item--active .slider-buttons__icon {
    fill: #E0E0E0;
  }
}
