.slider-buttons {
  @include list-reset;

  position: absolute;
  left: 50%;

  display: flex;
  align-items: flex-start;

  transform: translateX(-50%);
}

.slider-buttons__item {
  display: flex;
}

.slider-buttons__button {
  box-sizing: content-box;
  display: flex;
  width: 8px;
  height: 8px;

  padding: 4px;
  border: none;
  background-color: transparent;

  @include basic-hover;
  @include basic-active;
}

.slider-buttons__icon {
  width: 8px;
  height: 8px;

  fill: $dark-blue;
}

.slider-buttons__item--active .slider-buttons__icon {
  fill: $light-gray;
}


@media (max-width: $mobile-max-width) {
  .slider-buttons__button {
    width: 6px;
    height: 6px;
    padding: 3px;
  }

  .slider-buttons__icon {
    width: 6px;
    height: 6px;
  }
}
