$black: #1F1E25;
$lighter-black: #2B3C4F;
$faded-black: #394959;

$blue: #2C36F2;
$dark-blue: #2028B6;

$light-gray: #F6F7FF;
$faded-gray: #707C87;

$track-color: #C1C2CA;

$track-size: 14px;
$close-button-size: 18px;
$close-button-offset: 8px;


/* Adaptive + Rubber variables */
$desktop-width: 1366px;
$desktop-content: 1170px;

$desktop-threshold: $desktop-content + 2 * 45px;
$min-content-desktop-width: 1024px; // TODO: temporary until I start doing adaptive/rubber

$tablet-max-width: 1023px;
$tablet-width: 768px;

$mobile-max-width: 767px;
$mobile-width: 320px;
